@import "tailwindcss";

@theme {
  --color-dark: #101011;
  --shadow-marine-blue: 4px 4px 4px -1px rgba(11, 24, 43, 0.72);
}

@utility flex-center {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
