#btnContainer {
  display: flex;

  height: 23%;
  width: 100%;

  justify-content: space-between;
  align-items: center;
}
.infoClass {
  position: relative;

  height: 50%;
  width: 45%;

  text-align: center;

  background-color: #ffffff31;
  border-radius: 10px;
  border: 2px solid #01002f;
  font-size: 105%;
}
